<!-- 第一行必须包含标签extends 让Django知道继承了哪个模板 -->
{% extends "learning_logs/base.html" %}

{% load bootstrap3 %}   <!-- 加载bootstrap3的模板标签集 -->

<!-- 编写父模板中预留的块 -->
{% block header%} 
	<h2>添加一个新主题</h2>
{% endblock header %}

<!-- 编写父模板中预留的块 -->
{% block content%} 
	
	<!-- 创建一个表单  action：表单发送的地址 method：提交方式-->
	<form action="{% url 'learning_logs:new_topic' %}" method='post' class="form">
		{% csrf_token %}   <!-- 防止攻击者利用表单获得对服务器未经授权的访问——跨站请求伪造 -->
		
		{% bootstrap_form form %}  <!-- 使用模板标签显示表单-->
		
		{% buttons %}    <!-- 将模板bootstrap3样式作用于按钮-->
			<button name="submit" class="btn btn-primary">添加主题</button>
		{% endbuttons %}
	</form>
{% endblock content %}
